@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@-webkit-keyframes animate-scale {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animate-scale {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: Montserrat, sans-serif;
  color: #111518;
  background-image: url(../images/body/wave-bg.svg);
  background-size: 100% 750px;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  body {
    background-size: contain;
  }
}

.title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text--accent {
  color: #ff6b09;
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #111518;
  }
}

@media screen and (min-width: 1366px) {
  .section-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #111518;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.header__container, .hero-container, .advantages__container, .problems__container, .how-we-do__container, .program__container, .benefits__container, .about__container, .guarantee__container, .reviews__container, .contacts__container, .footer__container, .copyright-block__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .header__container, .hero-container, .advantages__container, .problems__container, .how-we-do__container, .program__container, .benefits__container, .about__container, .guarantee__container, .reviews__container, .contacts__container, .footer__container, .copyright-block__container {
    width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .header__container, .hero-container, .advantages__container, .problems__container, .how-we-do__container, .program__container, .benefits__container, .about__container, .guarantee__container, .reviews__container, .contacts__container, .footer__container, .copyright-block__container {
    padding-left: 26px;
    padding-right: 26px;
    width: 740px;
  }
}

@media screen and (min-width: 1366px) {
  .header__container, .hero-container, .advantages__container, .problems__container, .how-we-do__container, .program__container, .benefits__container, .about__container, .guarantee__container, .reviews__container, .contacts__container, .footer__container, .copyright-block__container {
    padding-left: 26px;
    padding-right: 26px;
    width: 1366px;
  }
}

.header__section {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1365px) {
  .header__container {
    position: relative;
  }
}

.header-logo {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1366px) {
  .header-logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 144px;
  }
}

.header-logo--accent {
  display: block;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #111518;
}

@media screen and (min-width: 768px) {
  .header-logo--accent {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
  }
}

.header-logo--fire {
  width: 14px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .header-logo--fire {
    width: 22px;
    height: 30px;
  }
}

.header-menu__btn {
  width: 21px;
  height: 21px;
  position: fixed;
  top: 37px;
  right: 20px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-menu__btn {
    top: 44px;
    right: 44px;
  }
}

@media screen and (min-width: 1366px) {
  .header-menu__btn {
    display: none;
  }
}

.header-menu__btn.is-open .header__icon--menu {
  display: none;
}

.header-menu__btn .header__icon--menu {
  display: block;
}

.header-menu__btn .header__icon--close {
  display: none;
}

.header-menu__btn.is-open .header__icon--close {
  display: block;
}

.hero-menu__box {
  width: 100%;
  padding-top: 30px;
  -webkit-animation: animate-scale 2000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: animate-scale 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-menu__box {
    padding-top: 42px;
  }
}

@media screen and (max-width: 1365px) {
  .hero-menu__box {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 21, 24, 0.9);
  }
}

@media screen and (min-width: 1366px) {
  .hero-menu__box {
    position: static;
    padding: 0;
  }
}

.hero-menu__box.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1365px) {
  .mobile-menu__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1365px) and (min-width: 480px) {
  .mobile-menu__container {
    width: 310px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 768px) {
  .mobile-menu__container {
    padding-left: 26px;
    padding-right: 26px;
    width: 740px;
  }
}

.header-logo--mobile-menu {
  display: none;
}

.hero-menu__box.is-open .header-logo--mobile-menu {
  display: block;
  margin-bottom: 48px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .hero-menu__box.is-open .header-logo--mobile-menu {
    margin-bottom: 72px;
  }
}

.header-logo--accent--mobile-menu {
  color: #ffffff;
}

.site-nav {
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .site-nav {
    max-width: 332px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1366px) {
  .site-nav {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1366px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .site-nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .site-nav__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #b9b9b9;
  }
}

.header__btn-consultation--mobile {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  min-height: 48px;
  border: 2px solid #ff6b09;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn-consultation--mobile:hover, .header__btn-consultation--mobile:focus {
  background-color: #ff6b09;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__btn-consultation--mobile {
    display: none;
  }
}

.header__btn-consultation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__btn-consultation {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ff6b09;
    min-width: 260px;
    min-height: 48px;
    border: 2px solid #ff6b09;
    margin-right: 61px;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__btn-consultation:hover, .header__btn-consultation:focus {
    background-color: #ff6b09;
    color: #ffffff;
  }
}

@media screen and (min-width: 1366px) {
  .header__btn-consultation {
    margin-right: 0;
    min-width: 336px;
    min-height: 70px;
  }
}

.hero-section {
  background-color: primary-white-color;
  min-height: 500px;
}

@media screen and (min-width: 1366px) {
  .hero-section {
    min-height: 878px;
  }
}

.hero-container {
  padding-top: 90px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 162px;
  }
}

@media screen and (min-width: 1366px) {
  .hero-container {
    padding-top: 185px;
  }
}

.hero__content-box {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero__content-box {
    margin-right: 18px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1366px) {
  .hero__content-box {
    max-width: 530px;
    margin-right: 50px;
  }
}

.page-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1366px) {
  .page-title {
    font-size: 58px;
  }
}

.hero-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: #111518;
  max-width: 250px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1366px) {
  .hero-text {
    font-size: 20px;
    line-height: 1.65;
    max-width: 530px;
  }
}

.hero-text--light {
  color: #b9b9b9;
  font-weight: 500;
}

@media screen and (min-width: 1366px) {
  .hero-text--accent {
    color: #111518;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 260px;
  min-height: 48px;
  background-color: #ff6b09;
  padding: 14px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .hero-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1366px) {
  .hero-btn {
    min-width: 354px;
    min-height: 70px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
  }
}

.hero__img {
  margin: 0 auto;
  -webkit-animation: animate-scale 2000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: animate-scale 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero__img {
    position: absolute;
    top: 158px;
    right: 4px;
  }
}

@media screen and (min-width: 1366px) {
  .hero__img {
    top: 130px;
    right: -82px;
  }
}

.advantages {
  padding-top: 30px;
  padding-bottom: 50px;
}

.advantages__title-adapted::before, .advantages__title-modern::before, .advantages__title-financial::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  min-width: 61px;
  height: 63px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.advantages__title-adapted::before {
  background-image: url(/images/advantages-benefits/mobile/benefits1.svg);
}

.advantages__title-modern::before {
  background-image: url(/images/advantages-benefits/mobile/benefits2.svg);
}

.advantages__title-financial::before {
  background-image: url(/images/advantages-benefits/mobile/benefits3.svg);
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
}

@media only screen and (max-width: 767px) {
  .advantages__icon:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__icon:not(:last-child) {
    margin-bottom: 0px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -20px;
    margin-top: -20px;
  }
  .advantages__icon {
    margin-top: 20px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .advantages__icon:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .advantages {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .advantages__list {
    margin-left: 0px;
    margin-top: 0px;
  }
  .advantages__icon {
    margin-left: 0px;
    margin-top: 0px;
    -ms-flex-preferred-size: calc((100% - 270px) / 3);
        flex-basis: calc((100% - 270px) / 3);
  }
  .advantages__title {
    color: #111518;
    font-size: 20px;
    line-height: 1.65;
  }
  .advantages__title-adapted::before, .advantages__title-modern::before, .advantages__title-financial::before {
    min-width: 102px;
    height: 104px;
    margin-right: -18px;
  }
  .advantages__title-adapted::before {
    background-image: url(/images/advantages-benefits/desktop/benefits1.svg);
  }
  .advantages__title-modern::before {
    background-image: url(/images/advantages-benefits/desktop/benefits2.svg);
  }
  .advantages__title-financial::before {
    background-image: url(/images/advantages-benefits/desktop/benefits3.svg);
  }
}

.problems {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(78%, #111518), color-stop(78%, #ffffff));
  background-image: linear-gradient(to bottom, #111518 78%, #ffffff 78%);
}

@media screen and (min-width: 1366px) {
  .problems {
    background-image: url(../images/problems-campfire.svg), -webkit-gradient(linear, left top, left bottom, color-stop(78%, #111518), color-stop(78%, #ffffff));
    background-image: url(../images/problems-campfire.svg), linear-gradient(to bottom, #111518 78%, #ffffff 78%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 32% right, center;
  }
}

.problems__container {
  margin-bottom: 0;
}

.problems__title {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .problems__title {
    max-width: 280px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .problems__title {
    max-width: 450px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .problems__title {
    max-width: 805px;
    padding-top: 100px;
    padding-bottom: 68px;
    font-size: 46px;
  }
}

.no-wrap {
  white-space: nowrap;
}

.text-accent {
  color: #ff6b09;
}

.problems__list {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 20px 27px;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: item;
}

@media screen and (min-width: 480px) {
  .problems__list {
    max-width: 280px;
    padding: 20px 27px;
  }
}

@media screen and (min-width: 768px) {
  .problems__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 688px;
    padding: 28px 100px;
  }
}

@media screen and (min-width: 1366px) {
  .problems__list {
    max-width: 1314px;
    padding: 67px 113px;
  }
}

.problems__item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .problems__item {
    width: 200px;
  }
  .problems__item:not(:last-child) {
    margin-bottom: 0;
  }
  .problems__item:not(:nth-child(n+5)) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .problems__item {
    width: 336px;
  }
  .problems__item:not(:nth-child(n+5)) {
    margin-bottom: 0;
  }
  .problems__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

.problems__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  color: #111518;
}

.problems__text::before {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ff6b09;
  counter-increment: item;
  content: "— 0" counter(item);
}

@media screen and (min-width: 480px) {
  .problems__text {
    max-width: 226px;
  }
}

@media screen and (min-width: 768px) {
  .problems__text {
    max-width: 200px;
    line-height: 1.43;
  }
  .problems__text::before {
    line-height: 1.25;
  }
}

@media screen and (min-width: 1366px) {
  .problems__text {
    max-width: 336px;
    font-size: 20px;
    line-height: 1.4;
  }
  .problems__text::before {
    font-size: 20px;
    line-height: 1.65;
  }
}

.how-we-do__section {
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .how-we-do__section {
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1366px) {
  .how-we-do__section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.how-we-do__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .how-we-do__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .how-we-do__title {
    margin-bottom: 47px;
    font-size: 46px;
    text-align: left;
  }
}

.how-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .how-we-do__list {
    margin-left: -20px;
    margin-top: -20px;
  }
}

@media screen and (min-width: 768px) {
  .how-we-do__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.how-we-do__item {
  width: 280px;
  margin-left: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  -ms-flex-preferred-size: calc((100% - 1 * 15px) / 1);
      flex-basis: calc((100% - 1 * 15px) / 1);
}

@media screen and (min-width: 768px) {
  .how-we-do__item {
    -ms-flex-preferred-size: calc((100% - 2 * 20px) / 2);
        flex-basis: calc((100% - 2 * 20px) / 2);
    margin-left: 20px;
    margin-top: 20px;
    width: 334px;
  }
}

@media screen and (min-width: 1366px) {
  .how-we-do__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    width: 418px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.how-we-do__link--box {
  height: 100%;
  padding: 30px 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .how-we-do__link--box {
    padding: 35px 32px;
  }
}

@media screen and (min-width: 1366px) {
  .how-we-do__link--box {
    padding-bottom: 55px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.how-we-do__link:hover .how-we-do__link--box,
.how-we-do__link:focus .how-we-do__link--box {
  background-color: #ff6b09;
}

.how-we-do-item__box-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ff6b09;
  margin-bottom: 24px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .how-we-do-item__box-icon {
    margin-bottom: 28px;
  }
}

.how-we-do__link:hover .how-we-do-item__box-icon,
.how-we-do__link:focus .how-we-do-item__box-icon {
  fill: #ffffff;
}

.how-we-do-item__title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 42px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .how-we-do-item__title {
    display: block;
    min-height: 40px;
  }
}

.how-we-do-item__title::after {
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  height: 2px;
  width: 20px;
  background-color: #ff6b09;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do__link:hover .how-we-do-item__title::after,
.how-we-do__link:focus .how-we-do-item__title::after {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .how-we-do-item__title::after {
    bottom: -10px;
  }
}

.how-we-do__link:hover .how-we-do-item__title,
.how-we-do__link:focus .how-we-do-item__title {
  color: #ffffff;
}

.how-we-do-item__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do__link:hover .how-we-do-item__description,
.how-we-do__link:focus .how-we-do-item__description {
  color: #ffffff;
}

.program-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #111518;
}

@media screen and (min-width: 768px) {
  .program-section {
    padding-bottom: 170px;
  }
}

@media screen and (min-width: 1366px) {
  .program-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.program__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .program__title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1366px) {
  .program__title {
    font-size: 46px;
    margin-bottom: 106px;
  }
}

.program__semester-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1366px) {
  .program__semester-title {
    font-size: 30px;
    line-height: 0.9;
    margin-bottom: 25px;
  }
}

.program__mini-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

@media screen and (min-width: 1366px) {
  .program__mini-title {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}

.program__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}

@media screen and (min-width: 1366px) {
  .program__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1366px) {
  .program__item {
    width: 226px;
  }
  .program__item:not(:last-child) {
    margin-right: 50px;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .program__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .program__item:not(:last-child) {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .program__item--inner:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .program__item--inner:not(:last-child) {
    margin-right: 50px;
    width: 150px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1366px) {
  .program__item--inner {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .program__list-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1366px) {
  .program__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.program__mini-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__mini-title::before {
  content: "";
  display: inline-block;
  width: 12px;
  background-color: #ff6b09;
  height: 2px;
  margin-right: 5px;
}

@media screen and (min-width: 1366px) {
  .program__mini-title::before {
    width: 20px;
  }
}

.title--hid {
  color: transparent;
}

.program__list {
  position: relative;
}

@media screen and (max-width: 1365px) {
  .program__list {
    margin-left: 80px;
  }
}

.program__list::before {
  content: "";
  display: inline-block;
  border: 2px solid #ffffff;
  height: 92%;
  position: absolute;
  left: -25px;
  top: 12px;
}

@media screen and (min-width: 768px) {
  .program__list::before {
    height: 87%;
  }
}

@media screen and (min-width: 1366px) {
  .program__list::before {
    display: none;
  }
}

.program__semester-title {
  position: relative;
}

.program__semester-title::before {
  content: "";
  display: block;
  background-image: url(../images/program-krug.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  left: -29px;
  top: 8px;
}

@media screen and (min-width: 1366px) {
  .program__semester-title::before {
    left: 2px;
    top: -69px;
    z-index: 1;
  }
}

@media screen and (min-width: 1366px) {
  .program-section {
    position: relative;
  }
  .program-section::after {
    content: "";
    display: inline-block;
    border: 2px solid #ffffff;
    width: 100vw;
    position: absolute;
    top: 220px;
  }
}

@media screen and (max-width: 767px) {
  .program__container {
    position: relative;
  }
  .program__container::before {
    content: "";
    background-image: url(../images/program/program-mob-1x-min.png);
    width: 120px;
    height: 137px;
    position: absolute;
    top: 1230px;
    right: 0;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .program__container::before {
    background-image: url(../images/program/program-mob-2x-min.png);
    background-size: contain;
  }
}

.program-section {
  position: relative;
}

@media screen and (min-width: 768px) {
  .program-section::before {
    content: "";
    background-image: url(../images/program/program-tab-1x-min.png);
    width: 374px;
    height: 273px;
    position: absolute;
    top: 780px;
    right: 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program-section::before {
    background-image: url(../images/program/program-tab-2x-min.png);
  }
}

@media screen and (min-width: 1366px) {
  .program-section::before {
    background-image: url(../images/program/program-desk-1x-min.png);
    width: 672px;
    height: 502px;
    top: 670px;
    left: -100px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program-section::before {
    background-image: url(../images/program/program-desk-2x-min.png);
    background-size: contain;
  }
}

.benefits {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(67%, #111518), color-stop(67%, #ffffff));
  background-image: linear-gradient(to bottom, #111518 67%, #ffffff 67%);
}

@media screen and (min-width: 768px) {
  .benefits {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #111518), color-stop(50%, #ffffff));
    background-image: linear-gradient(to bottom, #111518 50%, #ffffff 50%);
  }
}

.benefits__container {
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}

.benefits__title {
  width: 62%;
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .benefits__title {
    width: 180px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__title {
    width: 688px;
    padding-top: 55px;
    padding-bottom: 30px;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }
}

@media screen and (min-width: 1366px) {
  .benefits__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.no-wrap {
  white-space: nowrap;
}

.benefits__list {
  width: 100%;
  padding: 35px 22px;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: item;
}

@media screen and (min-width: 480px) {
  .benefits__list {
    max-width: 280px;
    padding: 35px 22px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 688px;
    padding: 40px 98px;
  }
}

@media screen and (min-width: 1366px) {
  .benefits__list {
    max-width: 1314px;
    padding: 67px 113px;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 236px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
  .benefits__item:not(:nth-child(n+5)) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .benefits__item {
    width: 336px;
  }
  .benefits__item:not(:nth-child(n+5)) {
    margin-bottom: 0;
  }
  .benefits__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

.benefits__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
}

.benefits__text::before {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: #ff6b09;
  counter-increment: item;
  content: "— 0" counter(item);
}

@media screen and (min-width: 480px) {
  .benefits__text {
    max-width: 236px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__text {
    max-width: 236px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1366px) {
  .benefits__text {
    max-width: 336px;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits__text::before {
    font-size: 20px;
  }
}

.about__title {
  text-align: start;
  margin-bottom: 30px;
}

@media screen and (min-width: 1366px) {
  .about__title {
    margin-bottom: 50px;
  }
}

.about__photo-container {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .about__photo-container {
    width: 243px;
  }
}

@media screen and (min-width: 768px) {
  .about__photo-container {
    margin-right: 42px;
  }
}

@media screen and (min-width: 1366px) {
  .about__photo-container {
    width: 530px;
    margin-right: 61px;
  }
}

.about__name::after {
  content: "";
  margin-top: 10px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #b9b9b9;
}

@media screen and (min-width: 480px) {
  .about__name::after {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .about__name::after {
    width: 403px;
  }
}

@media screen and (min-width: 1366px) {
  .about__name::after {
    width: 640px;
    margin-top: 15px;
  }
}

.about__list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #111518;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .about__list {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1366px) {
  .about__list {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 30px;
  }
}

.about__list::after {
  content: "";
  margin-top: 20px;
  width: 20px;
  height: 2px;
  display: block;
  background-color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .about__list::after {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .about__list::after {
    margin-top: 43px;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1366px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__item::before {
  display: block;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url(../images/about.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 1366px) {
  .about__item::before {
    width: 25px;
    height: 20px;
  }
}

.about__second-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #b9b9b9;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__second-list {
    font-size: 10px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .about__second-list {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 43px;
  }
}

.about__second-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1366px) {
  .about__second-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration: underline;
  color: #ff6b09;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__link:hover, .about__link:focus {
  color: #111518;
}

@media screen and (min-width: 1366px) {
  .about__link {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .about__cont-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .about__photo {
    width: 243px;
  }
}

@media screen and (min-width: 1366px) {
  .about__photo {
    width: 530px;
  }
}

.about-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (min-width: 1366px) {
  .about-section {
    padding-bottom: 130px;
    padding-top: 130px;
  }
}

.guarantee__title {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1366px) {
  .guarantee__title {
    margin-bottom: 50px;
  }
}

.guarantee__thumb {
  margin: 0 auto;
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .guarantee__thumb {
    padding: 45px 20px;
  }
}

@media screen and (min-width: 768px) {
  .guarantee__thumb {
    width: 688px;
    height: 272px;
    padding: 30px 65px;
  }
}

@media screen and (min-width: 1366px) {
  .guarantee__thumb {
    width: 1314px;
    height: 395px;
    padding: 50px 112px;
  }
}

.guarantee__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}

@media screen and (min-width: 1366px) {
  .guarantee__list {
    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.guarantee__item::before {
  content: "";
  background-image: url(../images/guarantee.svg);
  display: block;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .guarantee__item::before {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .guarantee__item::before {
    width: 22px;
    height: 30px;
    margin-right: 30px;
  }
}

.guarantee__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  border-left: 1px dashed #B9B9B9;
  position: absolute;
  top: 20px;
  height: 100%;
  left: 7px;
}

@media screen and (min-width: 1366px) {
  .guarantee__item:not(:last-child)::after {
    top: 30px;
    height: 40px;
    left: 10px;
  }
}

.guarantee__item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .guarantee__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.section-reviews {
  padding-top: 70px;
  padding-bottom: 61px;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1366px) {
  .section-reviews {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-reviews__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

@media screen and (min-width: 768px) {
  .section-reviews__title {
    margin-bottom: 30px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .section-reviews__title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.reviews__container {
  position: relative;
}

.slick-list {
  padding: 40px;
  margin: -20px;
}

@media screen and (min-width: 768px) {
  .slick-list {
    padding-top: 0px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .slick-initialized .reviewer.slick-slide {
    -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
            box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1366px) {
  .slick-initialized .reviewer.slick-slide {
    padding: 50px 112px 51px 82px;
  }
}

@media screen and (min-width: 768px) {
  .reviewer__column:first-child {
    margin-right: 46px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1366px) {
  .reviewer__column:first-child {
    margin-right: 40px;
  }
}

.reviewer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .reviewer__img {
    width: 150px;
    height: 150px;
  }
}

.reviewer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 30px;
  height: 30px;
}

.reviewer__social {
  fill: #436eab;
}

.reviewer__name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .reviewer__name {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

@media screen and (min-width: 1366px) {
  .reviewer__name {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.reviewer__summary {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

@media screen and (min-width: 768px) {
  .reviewer__summary {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 1366px) {
  .reviewer__summary {
    max-width: 482px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.08em;
    margin-bottom: 18px;
  }
}

.review {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: #3d3d3d;
}

@media screen and (min-width: 768px) {
  .review {
    min-width: 412px;
  }
}

@media screen and (min-width: 1366px) {
  .review {
    max-width: 706px;
  }
}

.review__link {
  display: block;
  font-size: 12px;
  line-height: 1.67;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .review {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1366px) {
  .review {
    min-width: 706px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1366px) {
  .review__link {
    font-size: 18px;
    line-height: 1.56;
  }
}

.change-reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .change-reviewer {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .change-reviewer {
    margin-top: 40px;
  }
}

.change-reviewer__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 182px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .change-reviewer__collection {
    width: 558px;
  }
}

.change-reviewer__item--tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .change-reviewer__item--tablet {
    display: block;
  }
}

.change-reviewer__img {
  display: block;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.change-reviewer__img--tablet {
  display: none;
}

.change-reviewer__button {
  width: 25px;
  border: 0px;
  position: absolute;
  background-color: transparent;
  top: 583px;
  cursor: pointer;
  fill: #ff6b09;
}

.change-reviewer__button--left {
  left: 0px;
}

.change-reviewer__button--right {
  right: 0px;
}

@media screen and (min-width: 768px) {
  .change-reviewer__button {
    position: absolute;
    top: 150px;
  }
  .change-reviewer__button--left {
    left: 0px;
  }
  .change-reviewer__button--right {
    right: 0px;
  }
}

@media screen and (min-width: 1366px) {
  .change-reviewer__button {
    top: 205px;
  }
  .change-reviewer__button--left {
    left: 1px;
  }
  .change-reviewer__button--right {
    right: 1px;
  }
}

.btn-icon {
  width: 25px;
  margin: -10px;
}

.contacts-section {
  background-color: #111518;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: url(../images/contacts-registration/registration-mob-1x-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 507px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 60px;
    padding-bottom: 68px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-section {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-registration/registration-mob-2x-min.png);
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    height: 520px;
    background-image: url(../images/contacts-registration/registration-tab-1x-min.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-registration/registration-tab-2x-min.png);
  }
}

@media screen and (min-width: 1366px) {
  .contacts-section {
    height: 840px;
    background-image: url(../images/contacts-registration/registration-desk-1x-min.png);
  }
}

@media screen and (min-width: 1366px) and (min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (min-resolution: 192dpi), screen and (min-width: 1366px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-registration/registration-desk-2x-min.png);
  }
}

.contacts__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__title {
    font-size: 46px;
    line-height: 1.3;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #ffffff;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__text {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__input--name {
  margin-bottom: 20px;
}

@media screen and (min-width: 1366px) {
  .contacts__input--name {
    margin-bottom: 30px;
  }
}

.contacts__input--tel {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__input--tel {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__input--tel {
    margin-bottom: 80px;
  }
}

.contacts__input {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 80%;
  height: 48px;
  padding-left: 28px;
  color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__input:hover, .contacts__input:focus {
  border-color: #ff6b09;
}

.contacts__input:hover::-webkit-input-placeholder {
  color: #ff6b09;
}

.contacts__input:hover:-ms-input-placeholder {
  color: #ff6b09;
}

.contacts__input:hover::-ms-input-placeholder {
  color: #ff6b09;
}

.contacts__input:hover::placeholder {
  color: #ff6b09;
}

.contacts__input:invalid {
  border-color: red;
}

@media screen and (min-width: 480px) {
  .contacts__input {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__input {
    width: 390px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__input {
    width: 478px;
    height: 70px;
    padding-left: 40px;
  }
}

.contacts__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1366px) {
  .contacts__input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .contacts__input:-ms-input-placeholder {
    font-size: 20px;
  }
  .contacts__input::-ms-input-placeholder {
    font-size: 20px;
  }
  .contacts__input::placeholder {
    font-size: 20px;
  }
}

.contacts__button {
  display: block;
  cursor: pointer;
  width: 70%;
  height: 48px;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #ff6b09;
  color: #ffffff;
  border: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__button:hover, .contacts__button:focus {
  border: 1px solid #ff6b09;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .contacts__button {
    width: 260px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .footer__container {
    padding-top: 52px;
    padding-bottom: 54px;
  }
}

.footer-logo {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1366px) {
  .footer-logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 290px;
  }
}

.footer-logo--accent {
  display: block;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #111518;
}

@media screen and (min-width: 768px) {
  .footer-logo--accent {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
  }
}

.footer-logo--fire {
  width: 14px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-logo--fire {
    width: 22px;
    height: 30px;
  }
}

.footer-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

@media screen and (min-width: 1366px) {
  .footer-contacts__list {
    margin-left: 0;
  }
}

.footer__contact-num {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #111518;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .footer__contact-num {
    margin-bottom: 0;
    margin-right: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__contact-num::after {
    position: absolute;
    content: '';
    display: block;
    right: -20px;
    bottom: -8px;
    height: 40px;
    width: 2px;
    background-color: #b9b9b9;
  }
}

@media screen and (min-width: 768px) and (min-width: 1366px) {
  .footer__contact-num::after {
    right: -30px;
    bottom: -2px;
  }
}

@media screen and (min-width: 1366px) {
  .footer__contact-num {
    font-size: 30px;
    line-height: 1.23;
    margin-right: 56px;
  }
}

.contact__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .contact__icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .contact__icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
  }
}

.footer__link-inst {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/images/insta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright-block {
  background-color: #111518;
}

.copyright-block__container {
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .copyright-block__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #b9b9b9;
}
/*# sourceMappingURL=main.css.map */