<section class="section about-section">

  <div class="about__container">
    <h2 class="section-title about__title">Teacher</h2>
    <div class="about__cont-text">
      <div class="about__photo-container">
        <img class="about__photo"
          srcset="./images/about/teacher-mob-1x.jpg 243w, ./images/about/teacher-desk-1x.jpg 530w, ./images/about/teacher-mob-2x.jpg 486w, ./images/about/teacher-desk-2x.jpg 1060w"
          sizes=" (min-width: 1366px) 530px, (min-width:768px) 243px, (min-width: 480px) 243px"
          src="./images/about/teacher-mob-1x.jpg" alt="Teacher photo" width="243">
      </div>
      <div class="about__inform-container">
        <h3 class="section-title about__name">Elena Moreva</h3>
        <ul class="about__list">
          <li class="about__item">
            <p class="about__text">6 yeards of experience in preparing students for UPE</p>
          </li>
          <li class="about__item">
            <p class="about__text">Own result of passing VNO - 197 points 2 years in a row</p>
          </li>
          <li class="about__item">
            <p class="about__text">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
              English Test)</p>
          </li>
        </ul>
        <ul class="about__second-list">
          <li class="about__second-item">
            <p class="about__second-text">Graduated from the Institute of International Relations of the NAU with a
              degree
              in translator-analyst.</p>
          </li>
          <li class="about__second-item">
            <p class="about__second-text">In spare time takes courses from the best universities in the world on
              effective
              teaching and essay writing techniques.</p>
          </li>
          <li class="about__second-item">
            <p class="about__second-text">Completed: English Grammar and Essay Writing (Berkeley), English Grammar &
              Style
              (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley),
              The
              Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
            </p>
          </li>
        </ul>
        <a class="about__link" href="">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>

</section>