<section class="section contacts-section">
  <div class="container contacts__container">
    <h2 class="contacts__title">
      Registration for a <span class="text--accent">free</span> phone <span class="text--accent">consultation</span> on
      the nuances of English UPE
    </h2>
    <p class="contacts__text">Leave a request for participation in a <span class="text--accent">free lesson</span>.
      A consultant will contact you and answer your questions</p>
    <form class="contacts__form" name="data" autocomplete="on">
      <input class="contacts__input contacts__input--name" type="text" name="name" minlength="3" placeholder="Name*">
      <input class="contacts__input contacts__input--tel" pattern="[0-9]{5,10}" type="tel" name="tel"
        placeholder="Phone*">
      <button class="contacts__button" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>