<footer class="footer__section">
    <div class="footer__container">
        <a class="footer-logo" href="#">
            <span class="footer-logo--accent">Hell<svg class="footer-logo--fire">
                    <use href="./images/sprite.svg#icon-logo-fire"></use>
                </svg>EN</span>
            <span class="text--accent">hellish</span> english
        </a>
        <ul class="footer-contacts__list">
            <li class="footer-contacts__item">
                <a class="footer__contact-num" href="tel:+380991234567">
                    <svg class="contact__icon">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg> +38 (099) 123 45 67
                </a>
            </li>
            <li class="footer-contacts__item">
                <a class="footer__link-inst" href="https://www.instagram.com" target="_blank"></a>
            </li>
        </ul>
    </div>
    <div class="copyright-block">
        <div class="copyright-block__container">
            <p class="footer__copyright">&#169; All rights reserved, 2022</p>
        </div>
    </div>
</footer>в