<section class="section__how-we-do">
    <div class="container">
        <h1>How do we do it</h1>
        <ul>
            <li><div>svg</div>
                <h2>Adapted program
                    preparation for UPE</h2>
                <p>You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>
            <li><div>svg</div>
                <h2>Classroom and online learning</h2>
                <p>The teacher will help not only in the classroom, but also during home preparation. Parents can chat if they wish.</p>
            </li>
            <li><div>svg</div>
                <h2>The habit of reading in English</h2>
                <p>Articles from sources that are used in the development of this UPE will be received by phone twice a week.
                </p>
            </li>
            <li><div>svg</div>
                <h2>Psychological
                    support</h2>
                <p>We will teach you testing techniques, the ability to plan your confidence training
                    in itself.</p>
            </li>
            <li><div>svg</div>
                <h2>Training on copyright manuals</h2>
                <p>You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
            </li>
            <li><div>svg</div>
                <h2>Ability to comprehend spoken English</h2>
                <p>“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.</p>
            </li>
            
           
        </ul>
    </div>
</section>