<section class="how-we-do__section">
    <div class="how-we-do__container">
        <h2 class="how-we-do__title">How do we do it</h2>
        <ul class="how-we-do__list">
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="55px" height="55px">
                                <use href="./images/sprite.svg#icon-study-program"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">Adapted program
                            preparation for UPE</h2>
                        <p class="how-we-do-item__description">You will learn grammar and vocabulary at the same time. And you will learn how to
                            write essays.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="55px" height="55px">
                                <use href="./images/sprite.svg#icon-mobile-learning"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">Classroom and online learning</h2>
                        <p class="how-we-do-item__description">The teacher will help not only in the classroom, but also during home
                            preparation. Parents can chat if they wish.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="55px" height="55px">
                                <use href="./images/sprite.svg#icon-open-book"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">The habit of reading in English</h2>
                        <p class="how-we-do-item__description">Articles from sources that are used in the development of this UPE will be
                            received by phone twice a week.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="55px" height="55px">
                                <use href="./images/sprite.svg#icon-psy-support"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">Psychological
                            support</h2>
                        <p class="how-we-do-item__description">We will teach you testing techniques, the ability to plan your confidence
                            training
                            in itself.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="41px" height="46px">
                                <use href="./images/sprite.svg#icon-female-student"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">Training on copyright manuals</h2>
                        <p class="how-we-do-item__description">You don't have to waste your time
                            on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__item">
                <a class="how-we-do__link" href="">
                    <div class="how-we-do__link--box">
                        <div class="how-we-do-item__box-icon">
                            <svg class="how-we-do-item__icon" width="51px" height="44px">
                                <use href="./images/sprite.svg#icon-audio-book"></use>
                            </svg>
                        </div>
                        <h2 class="how-we-do-item__title">Ability to comprehend spoken English</h2>
                        <p class="how-we-do-item__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio
                            recordings in accordance with the studied vocabulary.</p>
                    </div>
                </a>
            </li>       
        </ul>
    </div>
</section>