<section class="section problems">
    <h2 class="section__tltle problems__title">
        The main problems of students <span class="no-wrap">in English UPE, which </span><span class="no-wrap">we <span class="text-accent">help</span> to solve</span>
    </h2>
    <ul class="problems__list card__set">
        <li class="problems__item card__item">
            <p class="problems__text">Grammar</p>
        </li>
        <li class="problems__item card__item">
            <p class="problems__text">Inability to understand spoken English</p>
        </li>
        <li class="problems__item card__item">
            <p class="problems__text">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__item card__item">
            <p class="problems__text">Preparing alone</p>
        </li>
        <li class="problems__item card__item">
            <p class="problems__text">Lack of a single knowledge resource</p>
        </li>
        <li class="problems__item card__item">
            <p class="problems__text">Lack of self-organization and laziness</p>
        </li>
    </ul>
</section>