<section class="section program-section">
  <div class="container program__container">
    <h2 class="section__title program__title">Our program</h2>
    <ul class="program__list">

      <li class="program__item">
        <h3 class="program__semester-title">1 semester</h3>
        <ul class="program__list-inner">

          <li class="program__item--inner">
            <h4 class="program__mini-title">Grammar</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Nouns & Article </p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Adjectives & Adverb</p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Vocabulary</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Family & Relations </p>
              </li>
              <li class="program__item--third">
                <p class="program__text">People & Society</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>


      <li class="program__item">
        <h3 class="program__semester-title">2 semester</h3>
        <ul class="program__list-inner">
          <li class="program__item--inner">
            <h4 class="program__mini-title">Grammar</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Pronouns</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Active Voice</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Passive Voice</p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Vocabulary</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Home</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">School</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Work</p>
              </li>
            </ul>
          </li>

        </ul>
      </li>


      <li class="program__item">
        <h3 class="program__semester-title">3 semester</h3>
        <ul class="program__list-inner">
          <li class="program__item--inner">
            <h4 class="program__mini-title">Grammar</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Modal Verbs</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Infinitive</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Gerund</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Participle: 1, 2</p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Vocabulary</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Travel & Tourism</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Culture & Free Time</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Sport</p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Writing</h4>
            <p class="program__text">Informal Letter</p>
          </li>
        </ul>
      </li>


      <li class="program__item">
        <h3 class="program__semester-title">4 semester</h3>
        <ul class="program__list-inner">
          <li class="program__item--inner">
            <h4 class="program__mini-title">Grammar</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Clauses: Conditional and Wishes</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Direct / Reported speech</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Preposition</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Conjunction</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Numeral</p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Vocabulary</h4>
            <ul class="program__list--third">
              <li class="program__item--third">
                <p class="program__text">Healthy Living</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Nature & Environment</p>
              </li>
              <li class="program__item--third">
                <p class="program__text">Money
                </p>
              </li>
            </ul>
          </li>

          <li class="program__item--inner">
            <h4 class="program__mini-title">Writing</h4>
            <p class="program__text">Formal Letter</p>
          </li>
        </ul>
      </li>


      <li class="program__item">
        <h3 class="program__semester-title">5 semester</h3>
        <ul class="program__list--third">
          <li class="program__item--third">
            <h4 class="program__mini-title title--hid">Title</h4>
            <p class="program__text">Revision</p>
          </li>
          <li class="program__item--third">
            <p class="program__text">Tests</p>
          </li>

        </ul>
      </li>

    </ul>
  </div>
</section>