<section class="section program">
    <h2 class="section__title program__title">Our program</h2>
    <ul class="program__list">
        <li class="program__item-primary">
            <h3 class="program__item-primary-title">5 semester</h3>
            <ul class="program__item-secondary">
                <li class="program__item-secondary">
                    <h4 class="program__item-secondary-title"></h4>
                    <ul class="program__item-inner">
                        <li class="program__item-inner">
                            <p class="program__text">Revision</p>
                        </li>
                        <li class="program__item-inner">
                            <p class="program__text">Tests</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>