<section class="section program">
    <h2 class="section__title program__title">Our program</h2>
    <ul class="program__list">
        <li class="program__item>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </li>
    </ul>
</section>