<section class="section-reviews">
    <div class="reviews__container">
      <h2 class="section-reviews__title">Feedback from graduates</h2>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source
              srcset="
                /images/reviews/ellipse8-tablet.jpg    1x,
                /images/reviews/ellipse8-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
  
            <source
              srcset="
                /images/reviews/ellipse8-mobile.jpg    1x,
                /images/reviews/ellipse8-mobile@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
  
            <img
              class="reviewer__img"
              src="/images/reviews/ellipse8-mobile.jpg"
              alt="Tonya Kucherovskaya"
            />
          </picture>
          <a href="" class="reviewer__link">
            <svg class="reviewer__social">
              <use href="/images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__column">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="change-reviewer">
        <svg class="change-reviewer__icon change-reviewer__icon--left">
          <!-- <use href="/images/reviews/sprite.svg#icon-arrow-left"></use> -->
        </svg>

        <ul class="change-reviewer__collection">
          <li class="change-reviewer__item">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse9-tablet.jpg    1x,
                  /images/reviews/ellipse9-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/reviews/ellipse9-mobile.jpg    1x,
                  /images/reviews/ellipse9-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
  
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse9-mobile.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse10-tablet.jpg    1x,
                  /images/reviews/ellipse10-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/reviews/ellipse10-mobile.jpg    1x,
                  /images/reviews/ellipse10-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
  
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse10-mobile.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse11-tablet.jpg    1x,
                  /images/reviews/ellipse11-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/reviews/ellipse11-mobile.jpg    1x,
                  /images/reviews/ellipse11-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
  
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse11-mobile.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item change-reviewer__item--tablet">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse12-tablet.jpg    1x,
                  /images/reviews/ellipse12-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse12-tablet.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item change-reviewer__item--tablet">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse13-tablet.jpg    1x,
                  /images/reviews/ellipse13-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse13-tablet.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item change-reviewer__item--tablet">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse14-tablet.jpg    1x,
                  /images/reviews/ellipse14-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse14-tablet.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
          <li class="change-reviewer__item change-reviewer__item--tablet">
            <picture>
              <source
                srcset="
                  /images/reviews/ellipse15-tablet.jpg    1x,
                  /images/reviews/ellipse15-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="change-reviewer__img"
                src="/images/reviews/ellipse15-tablet.jpg"
                alt="Photo of girl"
              />
            </picture>
          </li>
        </ul>
        <svg class="change-reviewer__icon change-reviewer__icon--right">
          <!-- <use href="/images/reviews/sprite.svg#icon-arrow-right"></use> -->
        </svg>
      </div>
    </div>
  </section>
  