<section class="section-reviews">
  <div class="reviews__container">
    <h2 class="section-reviews__title">Feedback from graduates</h2>
    <div class="reviewer-slides slider-for-js">
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar1.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar1@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar1.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar1@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide1.jpg"
              src="./images/reviews/slider/slide1@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar2.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar2@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar2.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar2@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide2.jpg"
              src="./images/reviews/slider/slide2@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar3.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar3@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar3.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar3@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide3.jpg"
              src="./images/reviews/slider/slide3@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar4.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar4@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar4.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar4@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide4.jpg"
              src="./images/reviews/slider/slide4@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar5.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar5@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar5.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar5@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide5.jpg"
              src="./images/reviews/slider/slide5@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar6.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar6@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar6.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar6@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide6.jpg"
              src="./images/reviews/slider/slide6@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
      <div class="reviewer">
        <div class="reviewer__column">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar7.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar7@2x.jpg 2x
                " media="(min-width: 768px)" />

            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar7.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar7@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="reviewer__img" src="./images/reviews/slider/slide7.jpg"
              src="./images/reviews/slider/slide7@2x.jpg" alt="Tonya Kucherovskaya" />
          </picture>
          <a class="reviewer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="reviewer__social">
              <use href="./images/reviews/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="reviewer__description">
          <p class="reviewer__name">Tonya Kucherovskaya</p>
          <p class="reviewer__summary">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <article class="review">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
            I'm student ...
            <a class="review__link" href="#">Read more</a>
          </article>
        </div>
      </div>
    </div>

    <div class="change-reviewer">

      <div class="change-reviewer__collection slider-nav-js">
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar1.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar1@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar1.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar1@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide1.jpg"
              src="./images/reviews/slider/slide1@2.jpg" alt="girl" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar2.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar2@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar2.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar2@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide2.jpg"
              src="./images/reviews/slider/slide2@2.jpg" alt="gir2" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar3.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar3@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar3.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar3@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide3.jpg"
              src="./images/reviews/slider/slide3@2.jpg" alt="gir3" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar4.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar4@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar4.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar4@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide4.jpg"
              src="./images/reviews/slider/slide4@2.jpg" alt="gir4" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar5.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar5@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar5.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar5@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide5.jpg"
              src="./images/reviews/slider/slide5@2.jpg" alt="gir5" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar6.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar6@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar6.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar6@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide6.jpg"
              src="./images/reviews/slider/slide6@2.jpg" alt="gir6" />
          </picture>
        </div>
        <div class="change-reviewer__item">
          <picture>
            <source srcset="
                  ./images/reviews/tablet-avatar/tablet-avatar7.jpg    1x,
                  ./images/reviews/tablet-avatar/tablet-avatar7@2x.jpg 2x
                " media="(min-width: 768px)" />
            <source srcset="
                ./images/reviews/mobile-avatar/mobile-avatar7.jpg    1x,
                ./images/reviews/mobile-avatar/mobile-avatar7@2x.jpg 2x
                " media="(min-width: 320px)" />

            <img class="change-reviewer__img" src="./images/reviews/slider/slide7.jpg"
              src="./images/reviews/slider/slide7@2.jpg" alt="gir7" />
          </picture>
        </div>
      </div>

      <button aria-label="prev-button" type="button"
        class=" change-reviewer__button change-reviewer__button--left slick-prev-js">
        <svg class="btn-icon">
          <use href="./images/reviews/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button aria-label="next-button" type="button"
        class="change-reviewer__button change-reviewer__button--right slick-next-js">
        <svg class="btn-icon">
          <use href="./images/reviews/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>

    </div>
  </div>
</section>