.guarantee__container {
    @extend %container
}

.guarantee__title {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1366px) {
        margin-bottom: 50px;
    }
}

.guarantee__thumb {
    margin: 0 auto;
    background-color: $background-color-section;

    @media screen and (max-width:768px) {
        padding: 45px 20px;
    }

    @media screen and (min-width:768px) {
        width: 688px;
        height: 272px;
        padding: 30px 65px;
    }

    @media screen and (min-width:1366px) {
        width: 1314px;
        height: 395px;
        padding: 50px 112px;
    }
}



.guarantee__list {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: $accent-description;
    

    @media screen and (min-width:1366px) {
        font-size: 20px;
        line-height: 1.4;
    }
    }

    .guarantee__item{
        display: flex;
        position: relative;

        &::before {
            content: "";
            background-image: url(../images/guarantee.svg);
            display: block;
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            flex-shrink: 0;
            margin-right: 20px;

            @media screen and (min-width:768px) {
                margin-right: 24px;
                }

            @media screen and (min-width:1366px) {
            width: 22px;
            height: 30px;
            margin-right: 30px;
            }
        }

        &:not(:last-child)::after{
            content: "";
            display: inline-block;
            border-left: 1px dashed #B9B9B9;
            position: absolute;
            top: 20px;
            height: 100%;
            left: 7px;

            @media screen and (min-width:1366px) {
                top: 30px;
                height: 40px;
                left: 10px;
            }
        }

        &:not(:last-child){
            margin-bottom: 25px;
            
            @media screen and (min-width:768px) {
                margin-bottom: 20px;
            }
        }
    }

    // .guarantee-section {
    //     padding-bottom: 70px;

    //     @media screen and (min-width:1366px) {
    //         padding-bottom: 130px;
    //     }
    // }
