.header__section {
    background-color: $primary-white-color;
}

.header__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: 1365px) {
        position: relative;
    }
}

.header-logo {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    width: 128px;

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 8px;
        line-height: 1.25;
    }
    @media screen and (min-width: 1366px) {
        margin-right: 144px;
        display: block;
        height: 45px;
        width: 238px;
    }
}

.header-logo--accent {
font-weight: 700;
font-size: 23px;
line-height: 1.2;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $title-text-color;

    @media screen and (min-width: 768px) {
        font-weight: 800;
        font-size: 26px;
        line-height: 1.23;
    }
}

.header-menu__btn {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 37px;
    right: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: transparent;
    border: none;

        @media screen and (min-width: 768px) {
            display: none;
        }
}

.hero-menu__box {
    width: 100%;
    padding-top: 108px;

    @media screen and (min-width: 768px) {
            padding-top: 159px;
        }

    @media screen and (max-width: 1365px) {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(17, 21, 24, 0.9);
    }
    @media screen and (min-width: 1366px) {
        position: static;
        padding: 0;
    }

    &.is-open {
        display: flex;
        z-index: 2;
    }
}

.site-nav {
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) and (max-width: 1365px) {
        max-width: 332px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) {
        width: 100%;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.site-nav__list {
    @media screen and (min-width: 1366px) {
        display: flex;
        align-items: center;
    }
}

.site-nav__item {
    &:not(:last-child) {
        margin-right: 40px;
    }
}

.site-nav__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        text-transform: uppercase;
        color: $primary-text-color;
    }
}

.header__btn-consultation--mobile {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $accent-color;
    margin-left: auto;
    margin-right: auto;
    min-width: 260px;
    min-height: 48px;
    border: 2px solid $accent-color;
    background-color: transparent;

    @media screen and (min-width: 1366px) {
        display: none;
    }
}

.header__btn-consultation {
    display: none;    

    @media screen and (min-width: 768px) {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: $accent-color;
        min-width: 260px;
        min-height: 48px;
        border: 2px solid $accent-color;
        margin-right: 61px;
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
    }
    @media screen and (min-width: 1366px) {
        margin-right: 0;
        min-width: 336px;
        min-height: 70px;
    }
}