.hero-section {
    background-color: primary-white-color;
    min-height: 500px;
    @media screen and (min-width: 1366px) {
        min-height: 878px;
    }
}

.hero-container {
    @extend %container;
    padding-top: 90px;

    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
        padding-top: 162px;
    }
    @media screen and (min-width: 1366px) {
        padding-top: 185px;
    }
}

.hero__content-box {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        margin-right: 18px;
        margin-left: 0;
    }
    @media screen and (min-width: 1366px) {
        max-width: 530px;
        margin-right: 50px;
    }
}

.page-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 15px;
    } 
    @media screen and (min-width: 1366px) {
        font-size: 58px;
    }
}

.hero-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: $title-text-color;
    max-width: 250px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        margin-bottom: 45px;
    }
    @media screen and (min-width: 1366px) {
        font-size: 20px;
        line-height: 1.65;
        max-width: 530px;
    }
}

.hero-text--light {
    color: $primary-text-color;
    font-weight: 500;
}

.hero-text--accent {
    @media screen and (min-width: 1366px) {
        color: $title-text-color;
    }
}

.hero-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $primary-white-color;
    min-width: 260px;
    min-height: 48px;
    background-color: $accent-color;
    padding: 14px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media screen and (min-width: 1366px) {
        min-width: 354px;
        min-height: 70px;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;
    }
}

.hero__img {
    margin: 0 auto;
    // width: 208px;
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 158px;
        right: 4px;
        // width: 370px;
    }
    @media screen and (min-width: 1366px) {
        // width: 842px;
        top: 130px;
        right: -82px;
    }
}