.program__container {
    @extend %container;
    outline: 1px solid tomato;
}

.program-section {
    background-color: $title-text-color;
}

.program__title {
margin-bottom: 30px;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
letter-spacing: 0.03em;
text-align: center;
color: $primary-white-color;

@media screen and (min-width:768px) {
font-size: 26px;
text-align: left;
margin-bottom: 52px;
}

@media screen and (min-width:1366px) {
font-size: 46px;
margin-bottom: 106px;
}
}

.program__semester-title{
margin-bottom: 5px;
font-weight: 700;
font-size: 14px;
line-height: 2;
letter-spacing: 0.08em;
text-transform: uppercase;

color: $primary-white-color;

@media screen and (min-width:1366px) {
    font-size: 30px;
    line-height: 0.9;
    margin-bottom: 25px;
}
}

.program__mini-title {
margin-bottom: 5px;
font-weight: 700;
font-size: 12px;
line-height: 1.6;
letter-spacing: 0.08em;

color: $accent-color;

@media screen and (min-width:1366px) {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}
}

.program__text {
font-weight: 500;
font-size: 12px;
line-height: 1.6;
letter-spacing: 0.08em;
color: $primary-text-color;
opacity: 0.5;

@media screen and (min-width:1366px) {
    font-size: 18px;
    line-height: 1.56;
}
}

.program__item {
    @media screen and (min-width:1366px) {
        width: 226px;
        &:not(:last-child){
            margin-right: 50px;
        }
    }
    &:not(:last-child){
        margin-bottom: 40px;

        @media screen and (min-width:768px) {
            margin-bottom: 30px;
            }

        @media screen and (min-width:1366px) {
            margin-bottom: 0;
            flex-direction: column;
        }
    }
}

.program__item--inner {
    &:not(:last-child){

        @media screen and (max-width:767px){
            margin-bottom: 8px;
        }
        
        @media screen and (min-width:768px) and (max-width:1365px){
            margin-right: 50px;
            width: 150px;
            margin-bottom: 0;
            
        }
    }
}

.program__item--inner {
    @media screen and (min-width:1366px) {
        margin-bottom: 25px;
    }
}

.program__list-inner {
    @media screen and (min-width:768px) and (max-width:1365px) {
            display: flex;
    }
}

.program__list {
    @media screen and (min-width:1366px) {
        display: flex;
        justify-content: space-between;
    }
}

.program__mini-title {
    display: flex;
        align-items: center;
    &::before{
        content: "";
        display: inline-block;
        width: 12px;
        background-color: $accent-color;
        height: 2px;
        margin-right: 5px;

        @media screen and (min-width:1366px) {
            width: 20px;
        }
        
    }
}

.title--hid {
    color: transparent;
}

.program__list {
    position: relative;
    @media screen and (max-width:1365px) {
        margin-left: 80px;
    }
    &::before{
        content: "";
        display: inline-block;
        border: 2px solid $primary-white-color;
        height: 92%;
        position: absolute;
        left: -25px;
        top: 12px;

        @media screen and (min-width:768px) {
            height: 87%;
        }

        @media screen and (min-width:1366px) {
            display: none;
        }
    }
}

.program__semester-title {
    position: relative;
    &::before {
        content: "";
        display: block;
        background-image: url(../images/program-krug.svg);
        width: 12px;
        height: 12px;
        position: absolute;
        left: -29px;
        top: 8px;  

        @media screen and (min-width:1366px) {
            left: 2px;
            top: -69px;
            z-index: 1;
        }
    }
}


.program-section {
    
    @media screen and (min-width:1366px) {
        position: relative;
        
        &::after {
        content: "";
        display: inline-block;
        border: 2px solid $primary-white-color;
        width: 100vw;
        position: absolute;
        top: 100px;
    }
    }
}

.program__container {
   @media screen and (max-width:767px) {
    position: relative;
    &::before{
        content: "";
        background-image: url(../images/program/program-mob-1x-min.png);
        width: 120px;
        height: 137px;
        position: absolute;
        top: 1230px;
        right: 0;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/program/program-mob-2x-min.png);
          background-size: contain;
        }
    }
   }
}

.program-section {
    position: relative;
    &::before{
       @media screen and (min-width:768px) {
        content: "";
        background-image: url(../images/program/program-tab-1x-min.png);
        width: 374px;
        height: 273px;
        position: absolute;
        top: 650px;
        right: 0;
       }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/program/program-tab-2x-min.png);
        //   background-size: contain;
        }

        @media screen and (min-width:1366px) {
            background-image: url(../images/program/program-desk-1x-min.png);
            width: 672px;
            height: 502px;
            top: 500px;
            left: 0;
        }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/program/program-desk-2x-min.png);
          background-size: contain;
        }
    }
}