.problems {
    width: 100%;

    background-image:linear-gradient(to bottom, $title-text-color 78%, $primary-white-color 78%);   

    @media screen and (min-width:1366px) {
        background-image: url(../images/problems-campfire.svg), linear-gradient(to bottom, $title-text-color 78%, $primary-white-color 78%);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top 32% right, center;
    }
}

.problems__container {
    @extend %container;
    margin-bottom: 0;
}

.problems__title {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $primary-white-color;

    @media screen and (min-width:480px){
        max-width: 280px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    @media screen and (min-width:768px){
        max-width: 450px;
        padding-top: 55px;
        padding-bottom: 30px;
    }

     @media screen and (min-width:1366px){
        max-width: 805px;
        padding-top: 100px;
        padding-bottom: 68px;

        font-size: 46px;
    }
}

.no-wrap {
    white-space: nowrap;
}

.text-accent {
    color: $accent-color;
}

.problems__list {
    position: relative;
    z-index: 1;
    
    width: 100%;
    padding: 20px 27px;

    background-color: $primary-white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    
    counter-reset: item;

    @media screen and (min-width:480px){
        max-width: 280px;
        padding: 20px 27px;
    }

    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 688px;
        padding: 28px 100px;
    }

     @media screen and (min-width:1366px){
        max-width: 1314px;
        padding: 67px 113px;
    }
}

.problems__item {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    
    @media screen and (min-width:768px) {
        width: 200px;
        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:not(:nth-child(n+5)) {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1366px) {
        width: 336px;

        &:not(:nth-child(n+5)) {
            margin-bottom: 0;
        }

        &:nth-child(-n+3) {
            margin-bottom: 30px;
        }
    }
}

.problems__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: $title-text-color;

    &::before {
        display: block;
        margin-bottom: 5px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        color: $accent-color;

        counter-increment: item;
        content: "— 0" counter(item);
    }

    @media screen and (min-width: 480px) {
        max-width: 226px;
    }

    @media screen and (min-width: 768px) {
        max-width: 200px;
        line-height: 1.43;
        
        &::before {
        line-height: 1.25;
        }
    }

    @media screen and (min-width: 1366px) {
        max-width: 336px;
        font-size: 20px;
        line-height: 1.4;
        
        &::before {
            font-size: 20px;
            line-height: 1.65;
        }
    }
}
