.section-reviews {
  padding-top: 70px;
  padding-bottom: 61px;

  @media screen and (min-width: 768px) {
  padding-top: 70px;
  padding-bottom: 70px;
  }

  @media screen and (min-width: 1366px) {
  padding-top: 130px;
  padding-bottom: 130px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 800;
    font-size: 20px;

    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 26px;
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 50px;
      font-size: 46px;
    }
  }
}

.reviews {
  &__container {
    position: relative;
    @extend %container;
    }
  }


.slick-list {
  padding: 40px;
  margin: -20px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.reviewer {
  
  @media screen and (min-width: 768px) {
  .slick-initialized &.slick-slide {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    
      display: flex;
      padding: 40px;
      justify-content: center;
    }

    @media screen and (min-width: 1366px) {
      .slick-initialized &.slick-slide {
      padding: 50px 112px 51px 82px;
    }
  }

    &__column:first-child {
      margin-right: 46px;
      @media screen and (min-width: 1366px) {
        margin-right: 40px;
      }
    }
  }
  

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }
  &__link {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    width: 30px;
    height: 30px;
  }
  &__social {
    fill: #436eab;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.08em;

    color: $accent-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.2;
      text-align: left;
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.23;
    }
  }

  &__summary {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;

    color: $primary-text-color;

    @media screen and (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
      text-align: left;
    }
    @media screen and (min-width: 1366px) {
      max-width: 482px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 0.08em;
      margin-bottom: 18px;
    }
  }
}

.review {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;

  @media screen and (min-width: 768px) {
    min-width: 412px;
  }
  @media screen and (min-width: 1366px) {
    max-width: 706px;
  }
  color: $accent-description;

  &__link {
    display: block;
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    text-align: left;
  }
  @media screen and (min-width: 1366px) {
    min-width: 706px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.review__link {
  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.change-reviewer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 30px;
  }
  @media screen and (min-width: 1366px) {
    margin-top: 40px;
  }
  &__collection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 182px;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      width: 558px;
    }
  }
  &__item--tablet {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__img {
    display: block;
    width: 54px;
    height: 54px;

    cursor: pointer;
  }
  &__img--tablet {
    display: none;
  }
}

.change-reviewer__button {
  width: 25px;
  border: 0px;
  position: absolute;
  background-color: transparent;
  
    top: 583px;
    &--left {
      left: 0px;
    }
    &--right {
      right: 0px;
    }

  cursor: pointer;
  fill: $accent-color;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 150px;
    &--left {
      left: 0px;
    }
    &--right {
      right: 0px;
    }
  }
  @media screen and (min-width: 1366px) {
    top: 205px;
    &--left {
      left: 1px;
    }
    &--right {
      right: 1px;
    }
  }
}

.btn-icon {
  width: 25px;
  margin: -10px;
}
